* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.grid-sections {
  display: grid;
  grid-template-areas: 
    "heroSection"
    "aboutMe"
    "mySkills"
    "projects"
    "contactMe";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
}

@media (max-width: 768px) {
  .grid-sections {
    grid-template-areas: 
      "heroSection heroSection"
      "aboutMe aboutMe"
      "mySkills mySkills"
      "projects projects"
      "contactMe contactMe";
    grid-template-columns: 1fr 1fr;
  }
};

.grid-item {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heroSection { grid-area: heroSection; }
.aboutMe { grid-area: aboutMe; }
.mySkills { grid-area: mySkills; }
.projects { grid-area: projects; }
.contactMe { grid-area: contactMe; }

.appGlass {
  background: linear-gradient(135deg, rgba(20, 206, 51, 0.712), rgba(255, 255, 255, 0.466));
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

